body {
  color: wheat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

h1 {
  text-align: center;
  font-weight: 900;
  margin: 0;
  font-family: "DM Mono", monospace;
  font-size: 38px;
  line-height: 48px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 153, 0);
  padding: 15px;
}

h1 h2,
h3 {
  color: #171425;
  font-family: "DM Mono", monospace;
}

.container {
  max-width: 80%;
  color: wheat;
}

.row {
  color: black;
  text-align: center;
  font-family: "Big Shoulders Text", cursive;
}

.logo {
  display: block;
  margin: 30px auto;
  width: 170px;
  padding: 23px;
}

.cweather {
  color: darkslategray;
  opacity: 20%;
  padding: 40px 5px 5px 10px;
  text-align: center;
}
input {
  display: block;
}

.form {
  display: block;
  text-align: center;
}

.video {
  display: none;
  padding: 10px 50px 30px 80px;
  position: relative;
}

.image1 {
  display: block;
  padding: 20px 20px 20px 80px;
}

footer {
  display: block;
  text-align: center;
  color: gray;
}

.card-body {
  border-radius: 20px;
  box-shadow: 15px 8px 8px rgba(59, 79, 87, 0.2);
}

.btn-group {
  box-shadow: 15px 8px 8px rgba(59, 79, 87, 0.2);
}

.row :hover {
  background: rgb(255, 245, 238);
  border-inline-end-color: rgb(241, 147, 58);
}

.search-form {
  padding: 20px 20px 20px 80px;
}

.col-2 {
  padding: 20px 20px 20px 80px;
}

.current-temperature {
  font-size: 38px;
}
